@model IEnumerable<Transient.Models.Location>

@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locations</h2>

@if (Model.Count() == 0)
{
    <p>There are no locations renting vehicles</p>
}
else
{
    <table class=“table table-bordered table-hover”>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in Model)
            {
                <tr>
                    <td>@Html.ActionLink(location.Name, "Details", "Locations", new { id = location.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}



